.body {
  margin: 3%;
}

h1 {
  font-size: 48px;
  font-family: serif;
}

.wrap {
  display: flex;
}

.get-users {
  margin-top: 70px;
  font-size: 20px;
}

span {
  font-weight: bold;
  background-color: white;
}

.p1 {
  background-color: #fbdde2;
  width: fit-content;
}

/* @media screen and (max-width: 700px) {
  .wrap {
    flex-direction: column;
  }
} */