h2 {
  color: white;
}

h3 {
  background-color: pink;
  font-size: 15px;
}

.user-form {
  line-height: 2;
  background-color: purple;
  font-size: 18px;
  padding: 22px;
  border-radius: 10px;
  margin-right: 8px;
  height: fit-content;
  max-width: 900px;
  width: 18%;
  margin-top: 3.5%;
}

input {
  width: 100%;
  box-shadow: 1px 1px 1px 1px white;
  margin-bottom: 8px;
  padding: 3px;
}

.btn {
  width: 100%;
  font-size: 16px;
}