
.exercise-form {
  line-height: 1.5;
  height: fit-content;
  background-color: purple;
  max-width: 900px;
  width: 18%;
  font-size: 18px;
  padding: 20px;
  border-radius: 10px;
}

input {
  width: 100%;
  margin: auto;
  padding: px;
  border: none;
  font-size: 16px;
}
