form {
  background-color: #87d587;
  width: 100%;
  line-height: 2;
  font-size: 18px;
  padding: 20px;
  border-radius: 10px;
}
.exercise-form {
  width: 18vw;
  margin-top: 25px;
}

input {
  width: 100%;
  margin: auto;
  padding: 5px;
  border: none;
  font-size: 16px;
}

.left {
  /* margin-right: 55px; */
}